* {
    margin: 0;
    font-family: "Nunito", sans-serif;
}
.header {
    display: grid;
    grid-template-columns: auto auto;
    border-bottom:  1px solid #EDEEF2;
    height: 70px;
}
.logo {
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: center;   
    column-gap: 20px;
    grid-template-areas: 
        "header sidebar"
        "main sidebar"
}
.food { 
    align-self: start;
    place-self: end;
    grid-area: header;
    margin: 0;
}
.delivery {
    color: #4E60FF;
    align-self: start;
    margin: 0;
    grid-area: main;
}
.nav_form {
    grid-area: sidebar;
    align-self: center;
    background-color: #EDEEF2;
    border-radius: 12px;
    height: 40px;
}
.search_input {
    border-radius: 35%;
    border: none;
    background-color: #EDEEF2;
}
.search_icon {
    border: none;
    padding-right: 15px;
    background: transparent;
}
input[placeholder] {
    padding: 10px 0 0 10px;
}
.navbar {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    margin: 0;
}
.nav_list {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto  auto auto;
}
.nav_item {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.1px;
    color: #2a2a2e;
}

.nav_badge {
    display: grid;
    align-items: center;
    grid-template-columns:auto auto;
    background: #F3F4FF;
    border-radius: 17px;
    width: 50px;
    height: 50px;
    justify-self: center;
    border: none;
    position: relative;
}
.glyphicon {
    color: #4E60FF;
    justify-self: end;
}
.nav_span {
    grid-area: 1 / 2 / span 1 / span 2;
    margin-bottom: 20px;
    color: #EDEEF2;
    background-color: #4E60FF;
    border-radius: 40%;
    font-size: 7px;
    position: absolute;
    padding: 2px;
    width: 13px;
}
.avatar {
    border-radius: 15px;
}
.wrap_all {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 20px;
}
.cb_main {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    padding-top: 20px;
    column-gap: 25px;
}
.cake {
    display: grid;
    grid-template-columns: 230px auto;
    justify-self: end;
    background: #F3F4FF;
    width: 90%;
    height: 220px;
    border-radius: 16px;
}
.cake_img {
    align-self: end;
}
.burger {
    justify-self: start;
    background: #FFF3ED;
}
.price {
    display: grid;
    justify-content: space-around;
}
.desert {
    align-self: end;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;
    margin: 0;
}
.sale {
    font-style: normal;
    align-self: start;
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.1px;
    color: #4E60FF;
    margin: 0;
}
.desarty {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #83859C;
    margin: 0;
}
.burg {
    color: #FD6D22;
}
.menu_category {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}
.menu_item {
    display: grid;
    background:  #FFFFFF;;
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 16px;
    width: 180px;
    height: 90px;
    -ms-grid-row-align:center;
    margin-left: 10%;
}
.menu_item span{
text-align:center;
}
.desc_img {
   padding-left: 70px;
   margin-top: 10%;

}
.menu_item:hover {
    background-color: #F8F9FF;
    border: 1px solid #697BFF;
}
.menu_item:active {
    background-color:  #F3F4FF;
    border: 2px solid #4E60FF; 
}

.near_rest {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;
    padding-left: 5%;
}
.restaurants {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}
.rest_cards {
    display: grid;
    background: #FFFFFF;
    border: 1px solid #EDEEF2;
    border-radius: 16px;
    row-gap: 5px;
    padding-bottom: 20px;
}

.rest_img {
    min-width: 100%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.rest_cards {
    position: relative;
    color: white;
    
}
  
.top_right {
    position: absolute;
    top: 0;
    padding: 0;
    right: 18px;
    background-color: #4E60FF;
    font-size: 11px;
    line-height: 16px;
    border-radius: 0px 16px;
    text-transform: uppercase;
    padding: 8px 16px;
    font-weight: 700 bold;
    right: 0px;
}
  
.rest_name {
    display: flex;
    padding-left: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #2B2B43; 
    justify-content: space-between;
    margin: 0;
}
.bag {
    padding-right: 15px;
    width: 30px;
    height: 30px;
}
.open_time {
    color: #83859C;
    padding-left: 15px;
    margin: 0;
}
.menu_desc {
    text-align: center;
    width: 70px;
    height: 24px;
    background: #EDEEF2;
    border-radius: 100px;
    margin-left: 15px;
}
.min_sushi {
    width: 15px;
    height: 15px;
}
.span_s {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #545563;
}
.wrap_menu {
    display: flex;
}
.footer_sushi {
    width: 350px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.setting_wrapper {
    display: grid;
    grid-template-columns: 35% 50%;
    column-gap: 40px;
}
.set_h {
    margin-top: 20px;
    font-size: 20px;
    line-height: 28px;
    color: #2B2B43;
}
.set_info {
    display: grid;
    grid-template-columns: 60px auto;
    background: #F3F4FF;
    border: 2px solid #4E60FF;
    height: 70px;
    border-radius: 16px;
    width: 300px;
    grid-template-areas: 
        "header main"
        "header footer";
}
.fa-solid {
    border-radius: 8px;
    background-color: #edeef2;
    padding: 12px 14px 12px 14px;
    color: #83859c;
    margin-top: 20%;
    margin-left: 20%;
    
}
.user_box {
    display: grid;
    background: #4E60FF;
    border-radius: 12px;
    align-items: center;
    justify-items: center;
    place-self: center;
    width: 40px;
    height: 40px;
    grid-area: header;
}
.set_p {
    grid-area: footer;
    font-size: 13px;
    line-height: 18px;
    color: #545563;
    margin-bottom: 300%;
    margin-left: 10px;   

}
.ac {
    grid-area: main;
    align-self: end;
    font-size: 14px;
    line-height: 0.3px;
    color: #2B2B43;
    margin-bottom: 10%;
    margin-left: 10px;

}
.set_info:hover{
    background: #F3F4FF;
    border: 2px solid #4E60FF;   
}
.aps {
    background: #FFFFFF;
    border: 1px solid #EDEEF2;
}
.location {
    background: #EDEEF2;
} 
.settings {
    display: grid;
    justify-content: end;
    grid-template-rows: 50px 90px 90px 90px auto;  
}
.pers_img {
    width: 70px;
}
.change {
    height: 40px;
    align-self: center;
    background-color: #f0f1f6;
    border: 1px solid #4E60FF;
    box-sizing: border-box;
    border-radius: 8px;
}
.change_span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #4E60FF;
}
.remove {
    color: #83859C;
    border: none;
    background: none;
}
.avatar_buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 270px;
}
.personal_info {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    row-gap: 30px;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #EDEEF2;
    border-radius: 16px;
}
.personal_input_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 25px;
    padding-top: 20px;
}
.personal_inputs {
    display: grid;
    grid-template-columns: auto ;
    
}
.pers_input_item {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #545563;
}
.fname {
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
}
.e_nots {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #2B2B43;
}
.email_nots {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EDEEF2;  
} 
.log_out {
    width: 84px;
    height: 44px;
    border: 1px solid #FF5C60;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fceeee;
}
.footer_buttons {
    display: grid;
    grid-template-columns: auto auto auto;
}
.footer_log_out {
    font-weight: 700;
    font-size: 14px;
    color: #FF5C60;
}
.discard {
    width: 143px;
    height: 44px;
    border: 1px solid #83859C;
    border-radius: 8px;
    justify-self: end;
}
.save_change {
    width: 124px;
    height: 44px;
    background: #4E60FF;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    border-radius: 8px;
    justify-self: end;
}
.footer_discard {
    color: #83859C;
}
.footer_sch {
    letter-spacing: 0.3px;
    color: #FFFFFF;
}
.menu_toggle {
    display: none;
}
@media (max-width: 1100px) {
    .cb_main {
        display: grid;
        grid-template-columns: auto;
        row-gap: 20px;
    }
    .cake {
        justify-self: center;
        width: 67%;
    }
    .menu_category {
        grid-template-columns: auto auto auto;
        row-gap: 20px;
        width: 65%;
    }
   .menu_item {
        width: 150px;
    }
    .restaurants {
        grid-template-columns: auto;
    }
    .rest_footer {
        display: none;
    }
    .menu_toggle {
        display: grid;
        justify-self: center;
        width: 20px;
        margin-left: 15px;
    }
    .menu_toggle_img {
        display: grid;
        align-self: center;
        position:absolute;
        width: 20px;
    }
    .nav_list {
        display: none;
    }
    .setting_wrapper {
        grid-template-columns: auto;
        justify-content: center; 
    }
    .settings {
        justify-content: start;
    }
    .personal_input_wrapper {
        grid-template-columns: auto;
    }
    .email_nots {
        grid-template-columns: auto;
    }
    .footer_buttons {
        grid-template-columns: auto; 
        grid-template-rows: auto auto; 
        row-gap: 10px; 
    }
    .discard {
        justify-self: start;
        grid-area: 2 /1 / span 1/ span 2;
    }
    .save_change {
        grid-area: 2 /3 / span 1/ span 2;
    }
}