@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;1,300&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
}
.container1 {
    display: grid;
    grid-template-rows: 150px 600px 200px;
    justify-content: center;
    height: 100%;
}
.header {
    display: grid;
    align-content: center; 
}
.delivery {
    color: #4E60FF;
}
.main {
    display: grid;
    align-self: stretch;
}

.lg {
    display: grid;
    font-size: 60px;
    line-height: 82px;
    color: #2B2B43;
}
.parg_sign_in {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #545563;
}
.email_text {
    align-self: end;    
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #545563;
}
.email_input {
    width: 350px;
    height: 44px;
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;
}
.login {
    width: 350px;
    height: 44px;
    left: 165px;
    top: 602px;
    background: #4E60FF;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    border-radius: 8px;
    border: none;
}
.login_parg {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    justify-self: center;
    color: #FFFFFF;
}
.forget {
    font-weight: 700;
    font-size: 14px;
    border: none;
    background-color: #FFFFFF;
    letter-spacing: 0.3px;
    color: #4E60FF;
}
.footer {
    display: grid;
    align-items: center;
    justify-items: center;
}
.container2 {
    display: block;
    background: #697BFF;
    justify-items: center;
}
.cards_box {
    display: grid;
    grid-template-columns: 350px 330px;
    grid-template-rows:320px 150px ;
    margin-top: 60px;
}

.cards_footer {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    padding-top: 15%;
    row-gap: 30px;
} 
.f_review {
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: 0;
}
.f_parg {
    display: grid;
    place-self: center;
    width: 50%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.f_list {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.f_item {
    padding: 7px;
    width:8; 
    height:8;
    fill:none;
}
.dot_block {
    text-align: center;
    }
    .dot {
        border: 4px solid #FFFFFF;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.3;
    }
 
.item2 {
  margin-top: 70px;
}
@media (max-width: 1000px) {
    .container2 {
        display: none ;
    }
    .wrapper {
        display: grid;
        grid-template-columns: auto;
    }
}